<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kenneth hotel list</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="signup-box">
        <h1>Sign Up</h1>
        <h4>It's free and only takes a minute</h4>
        <form metthod="POST" action="/">
            <label for="">Fullname</label>
            <input type="text" name="full_name">

            <label for="">Email</label>
            <input type="text" name="email">

            <label for="">Phone Number</label>
            <input type="text" name="phone_number">

            <label for="">Password</label>
            <input type="text" name="password">

            <label for="">Confirm Password</label>
            <input type="text" name="confirm_password">

            <input type="submit" value="Submit">
         </form>
         <p>By clicking the Sign Up  button , you agree to our <br>
        <a href="#">Terms and Condition</a> and <a href="#">Policy and Privacy</a>
        </p>
    </div>

    <p class="para-2">Already have an account? <a href="/">Login here</a></p>
    
    
</body>
</html>
